# Compose configuration for database.yml substitution
#
# This file contains environment variables used to connect to the database.
# Create a .env file in the root directory with the following variables:
#
# DATABASE_HOST=mysql
# DATABASE_PORT=3306
# DATABASE_USERNAME=kakeibo_user
# DATABASE_PASSWORD=kakeibo_password
# DATABASE_NAME=kakeibo_development
#
# When using Docker Compose, these are automatically set in the docker-compose.yml

RAILS_ENV=development
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USERNAME=kakeibo_user
DATABASE_PASSWORD=kakeibo_password
DATABASE_NAME=kakeibo_development
